<h1>Welcome to the LGCS Cluster Catalog!</h1>

<p>
<%= link_to "M33 Catalog: Brick Index", m33bricks_path %>
</p>

<p>
<a href="https://www.zooniverse.org/projects/lcjohnso/local-group-cluster-search">
    LGCS Zooniverse Project</a>
</p>
